
<div style="background-color: transparent;width: 470px;height: 650px;margin: 50px auto;border-radius: 20px;display: flex;flex-direction: column;align-items: center;justify-content: flex-start;box-shadow: 0 0 20px rgb(193, 206, 234);padding: 10px;">
    
  <div style="background: linear-gradient(to bottom, #4c82ab 0%, transparent 100%);height: 60%;width: 100%;border-radius: 10px;display: flex;flex-direction: column;align-items: center;justify-content: flex-start;overflow: hidden;">
    <img src="../../assets/scanCardLogo.png" style="width: 50%;height: 80%; margin-top: 40px;"/>
  </div>

  <div style="color: white;font-family: inter, sans-serif;font-size: 38px;font-weight: bold;text-align: center;margin-top: 20px; margin-bottom: 30px;">Ready for Check-in...</div>
  <div style="color: white;font-family: inter, sans-serif;font-size: 30px;text-align: center;margin-top: 10px;">Tap your ID Card</div>


</div>

