<div style="background-image: url('../assets/backdrop.png'); height: 100vh; display: flex; flex-direction: column; align-items: center; color: white; font-family: Arial, sans-serif;">
  
  <div style="display: flex; align-items: center; padding: 20px;"><img src="../assets/logo.png" alt="College Logo" style="margin-right: 20px;"></div>
  <h2 style="font-family: 'Geist', sans-serif;font-size: 80px;font-weight: 700;margin: 20px 0;background: linear-gradient(to right, #ffffff, #7982ff);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">SAMYAGDARSHAN 2025</h2>
  <h3 style="font-size: 85px; color: #fff; margin: 0; font-family: 'Allura', cursive; margin-bottom: 80px;">College Annual Day</h3> 

  <!-- <app-tap-card></app-tap-card> -->
  <app-sucessfull-tap name={{name}} rollno={{rollNo}} image={{photoUrl}}></app-sucessfull-tap>
   
  <div style="margin-top: auto; display: flex; flex-direction: column; align-items: center; width: 100%; padding-bottom: 20px;"><app-footer></app-footer></div>

</div>
