<div style="background-color: transparent;width: 470px;height: 650px;margin: 50px auto;border-radius: 20px;display: flex;flex-direction: column;align-items: center;justify-content: flex-start;box-shadow: 0 0 20px rgb(193, 206, 234);padding: 10px;">
    
    <div style="background: linear-gradient(to bottom, #ab4c4d 0%, transparent 100%);height: 60%;width: 100%;border-radius: 10px;display: flex;flex-direction: column;align-items: center;justify-content: flex-start;overflow: hidden;">
      <img src="../../assets/error.png" style="width: 50%;height: 80%; margin-top: 40px;"/>
    </div>
  
    <div style="color: white;font-family: inter, sans-serif;font-size: 50px;font-weight: 700;text-align: center;margin-top: 20px; ">Oops!</div>
    <div style="color: white;font-family: inter, sans-serif;font-size: 50px;font-weight: 700;text-align: center;margin-top: 20px; ">Invalid ID</div>

</div>

